@font-face {
  font-family: "Pausa";
  src: url("PausaVariable-Roman.woff2") format("woff2 supports variations"),
       url("PausaVariable-Roman.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}
@font-face {
  font-family: "Pausa";
  src: url("PausaVariable-Italic.woff2") format("woff2 supports variations"),
       url("PausaVariable-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

:root {
  --text: #212121;
  --background: #F7F7F7;
  --color-accent: tomato;
}

*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
  font-family: 'Pausa', Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
}
body{
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3{
  font-style: italic;
  font-weight: 700;
  margin-top: 0;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
h1{
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
@media only screen and (max-width: 79rem) {
  h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
h2{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
ol + h2,
ul + h2,
p + h2{
  margin-top: 0.5rem;
}
ul,
ol{
  margin-block-start: 0;
}

main > h1,
main .content__header{
  margin-bottom: 3.5rem;
}

p{
  margin: 0;
}

a{
  color: var(--text);
  text-decoration: none;
}

header,
footer,
.wrapper{
  width: 100%;
  max-width: 80rem;
}

header,
footer{
  grid-column: 1/-1;
}

a.link{
  font-weight: 700;
  position: relative;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
a.link::before{
  content: '';
  background: var(--color-accent);
  width: 0;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: -2px;
  z-index: -1;
  transition: width 0.3s;
}
a.link.active:before,
a.link:hover:before{
  width: calc(100% + 4px);
}

header{
  display: flex;
  justify-content: space-between;
  top: 2.5rem;
  height: 2rem;
  align-items: center;
  z-index: 1;
  position: sticky;
}
@media only screen and (max-width: 79rem) {
  header{
    position: relative;
  }
}
header nav{
  display: flex;
  gap: 2rem;
}
header nav .menu{
  display: none;
  text-transform: lowercase;
  font-variant: small-caps;
}
@media only screen and (max-width: 79rem) {
  header nav .menu{
    display: flex;
  }
  header nav *:not(.menu){
    display: none;
  }
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  margin: 8rem 0;
  position: relative;
}
@media only screen and (max-width: 79rem) {
  .wrapper{
    position:initial;
  }
}

.wrapper aside{
  position: sticky;
  grid-column: 1/3;
  top: 10rem;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  z-index: 1;
}
.wrapper aside nav:first-of-type{
  display: none;
}
@media only screen and (max-width: 79rem) {
  .wrapper aside nav:first-of-type{
    display: flex;
  }
  .wrapper aside{
    display: none;
    background: var(--background);
    grid-column: 1/-1;
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 8rem);
    padding: 1rem;
    gap: 0.875rem;
    overflow: auto;
  }
  .wrapper aside.open{
    display: flex;
  }
}
.wrapper aside nav{
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  align-items: flex-start;
}
.wrapper main{
  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1rem;
}
.wrapper main > *{
  grid-column: 2/8;
}
@media only screen and (max-width: 79rem) {
  .wrapper main{
    grid-column: 1/-1;
  }
  .wrapper main > *{
    grid-column: 1/-1;
  }
}
.wrapper main figure{
  padding: 0;
  margin: 0;
  width: 100%;
  grid-column: 2/-2;
}
.wrapper main figure.large{
  grid-column: 1/-1;
}
.wrapper main figure.nomargin{
  margin: 0;
}
.wrapper main figure.darken{
  mix-blend-mode: darken;
}
.wrapper main figure.photography  {
  margin-top: 4rem;
}
figure img{
  width: 100%;
  display: flex;
}
.wrapper main p,
.wrapper main figure{
  margin-block-end: 1rem;
}
.wrapper main a{
  text-decoration: underline;
}
.wrapper main a:hover{
  color: var(--color-accent);
}

footer{
  padding: 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: relative;
}
footer p{
  text-align: center;
}
footer p a{
  display: block;
}
footer span{
  width: 100%;
  max-width: 24rem;
  border-top: var(--text) solid 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer span::before{
  content: "â¦";
  font-size: 2.5rem;
  line-height: 1;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 50%;
  text-indent: 0.05em;
  background-color: var(--background);
  transform: translateX(-50%) translateY(-50%);
}

section.blog article:not(:last-of-type){
  margin-bottom: 2em;
}
section.blog article a{
  text-decoration: none;
  background-color: aqua;
}
section.blog article a > *{
  margin: 0;
}
.content__header span,
section.blog article span{
  text-transform: lowercase;
  font-variant: small-caps;
}

.wrapper main.about > *:nth-child(-n+4){
  grid-column: 2/7;
}
.wrapper figure.about_profile_picture{
  grid-column: 9/-1;
  margin: 0;
  position: absolute;
}
@media only screen and (max-width: 79rem) {
  .wrapper main.about > *:nth-child(-n+4){
    grid-column: 1/-1;
  }
  .wrapper figure.about_profile_picture{
    display: none;
  }
}
.wrapper figure.about_profile_picture img{
  width: 100%;
}
.wrapper .about__photography-gallery{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2px;
}
.wrapper .about__photography-gallery li a{
  background: black;
  display: block;
}
.wrapper .about__photography-gallery li img{
  transition: opacity 0.18s;
  width: 100%;
  display: flex;
}
.wrapper .about__photography-gallery li a:hover img{
  opacity: 0.7;
}
figure figcaption{
  font-size: 0.875rem;
  text-align: center;
  line-height: 1rem;
  margin-top: 0.5rem;
}
